@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/preflight.css" layer(base);
@import "tailwindcss/utilities.css";

@import "nativewind/theme";

@theme {
    /* Light */
    --color-background-light: #FFFFFF;
    --color-primary-light: #a855f7;
    --color-secondary-light: #06b6d4;
    --color-positive-light: #58CC02;
    --color-negative-light: #FF4B4B;
    --color-warning-light: #FFC800;
    --color-info-light: #1CB0F6;
    --color-text-light: #4B4B4B;
    --color-muted-light: #6b7280;
    --color-border-light: #E3E3E3;
    --color-bottom-bar-light: #FFFFFF;
    --color-panel-light: #f6f6f6;

    /* Dark */
    --color-background-dark: #15082F;
    --color-primary-dark: #a855f7;
    --color-secondary-dark: #06b6d4;
    --color-positive-dark: #58CC02;
    --color-negative-dark: #FF4B4B;
    --color-warning-dark: #FFC800;
    --color-info-dark: #1CB0F6;
    --color-text-dark: #FFFFFF;
    --color-muted-dark: #15082f;
    --color-border-dark: #8142ff;
    --color-bottom-bar-dark: #4C347E;
    --color-panel-dark: #4C347E;
}

